<h1>
  Know of a pet needing a home?
</h1>
<form action="/pet" method="Post">
  <label for="name">Pet Name:</label>
  <input type="text" name="name"><br>
  <label for="type">Pet Type:</label>
  <input type="text" name="type"><br>
  <label for="description">Desription:</label>
  <input type="text" name="description">
  <p>Skills:</p>
    <label for="skillone">Skill 1:</label>
    <input type="text" name="skillone"><br>
    <label for="skilltwo">Skill 2:</label>
    <input type="text" name="skilltwo"><br>
    <label for="skillthr">Skill 3:</label>
    <input type="text" name="skillthr">
    <button type="submit">Add Pet</button>
</form>
<a href="/">cancel</a>
