@{ 
    ViewBag.Title = "Home"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br>
    <div class="row">
        <h3 class="col 4">Name plx</h3>
    </div>
    <br>
    <div class="row">
        <div class="col s4">
            <div class="card blue lighten-5">
                <div class="card-image">
                    <img src="~/Content/Images/Profile1.png" runat="server"/>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card blue lighten-5">
                <div class="card-content black-text">
                    <h4>About Me:</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultricies velit mollis accumsan semper. Donec pulvinar, tortor
                    quis eleifend rutrum, sem lacus mollis ante, sit amet convallis elit quam ac metus. Curabitur et nisi et ligula imperdiet
                    pulvinar non vitae mauris. Donec dignissim lacus ac odio ullamcorper, ut condimentum augue consectetur. Vivamus dapibus risus sed tincidunt interdum. Duis a massa dolor. Fusce vitae dolor non
                    ligula venenatis fringilla placerat ac nunc. Donec non lorem nisl. Nam metus lacus, egestas quis hendrerit eu, consectetur
                    sed justo. In nunc nunc, molestie at erat quis, placerat semper orci. Phasellus id ipsum ut nisl fringilla faucibus. Integer
                    vulputate pulvinar fringilla. Integer condimentum id lacus sit amet posuere. Quisque in consequat libero, sit amet tempor
                    sapien.</p>
                </div>
            </div>
        </div>
    </div>
</div>