@{ 
    ViewBag.Title = "Project"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="container">
    <br>
    <div class="row center">
        <div class="col s4">
            <div class="card red lighten-5">
                <div class="card-image medium">
                    <img src="~/Content/Images/Project1.png" runat="server"/>
                    <span class="card-title">Project Title</span>
                </div>
                <div class="card-content">
                    <p>Nam metus lacus, egestas quis hendrerit eu, consectetur sed justo. In nunc nunc, molestie at erat quis, placerat semper orci.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card red lighten-5">
                <div class="card-image">
                    <img src="~/Content/Images/Project2.png" runat="server" />
                    <span class="card-title">Project Title</span>
                </div>
                <div class="card-content">
                    <p>Nam metus lacus, egestas quis hendrerit eu, consectetur sed justo. In nunc nunc, molestie at erat quis, placerat
                        semper orci.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card red lighten-5">
                <div class="card-image">
                    <img src="~/Content/Images/Project3.png" runat="server" />
                    <span class="card-title">Project Title</span>
                </div>
                <div class="card-content">
                    <p>Nam metus lacus, egestas quis hendrerit eu, consectetur sed justo. In nunc nunc, molestie at erat quis, placerat
                        semper orci.</p>
                </div>
            </div>
        </div>
    </div>
</div>