@{
    ViewBag.Title = "Testing ...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br>
    <h3 class="center align green-text text-darken-2">Congratulations!</h3>
    <div class="row center align">
        <div class="col s6 offset-s3">
            <div class="card blue lighten-5">
                <div class="card-content black-text">
                        <p>Your test was successfull :D</p>
                </div>
            </div>
        </div>
    </div>
</div>