<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast!
  </h1>
  <p>
    <a [routerLink]="['5809844']">Seattle WA</a> |
    <a [routerLink]="['4190598']">Dallas TX</a> |
    <a [routerLink]="['5392171']">San Jose CA</a> |
    <a [routerLink]="['5331836']">Burbank CA</a> |
    <a [routerLink]="['4140963']">Washington D.C.</a> |
    <a [routerLink]="['4887398']">Chicago IL</a> 
  </p>
  <!-- <div *ngFor = 'let location of all_locations' >
    <a href= <%= '/${location}'%>>
  </div> -->
<router-outlet></router-outlet>
</div>